<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>1% Better</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>

    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="onepercent" ng-controller="OnePercentCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable changebar">
        <img src="img/onepercent.png">
        <h1 class="title" id="title-color">1% Better: Life Hacks</h1>
      </ion-header-bar>
      <ion-content>
        
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="showNewPosts()"></ion-refresher>

        <div class="list">
          <a class="item item-thumbnail-left" ng-click="newTab(post.url)" ng-repeat="post in posts track by post.id">
            <img ng-src="{{post.thumbnail}}" alt="No Img" onerror="this.src=&apos;img/default.png&apos;">
            <h2 class="post-title">{{post.title}}</h2> 
            <p>
              <span am-time-ago="post.created_utc" am-preprocess="unix"></span> via {{post.domain}}</p>
          </a>  
        </div>  
        <ion-infinite-scroll on-infinite="showOldPosts()" distance="1%"></ion-infinite-scroll>
      </ion-content>
    </ion-pane>
  </body>
</html>